<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section>
		<center>
			<h1>Online Tax management and Payment System</h1>
		</center>
		<br />
		<p>In general, every organization pays salaries to its employees.
			The work is done every month and the record of this activity is kept
			for further use. The task of salary payment is very important for
			every organization. So this area is to be computerized to make
			process easy, quick, secure and reliable. Thus a secured and reliable
			system is required to handle it.</p>

		<p>Automation of salary payment system can lead to error free,
			secure, reliable and fast informative working system. It can assist
			the staff to concentrate on their other activities rather than
			concentrating on record keeping. Thus it will help organization in
			better utilization of resources.</p>

		<p>Every employee who are getting salaries shall need to pay taxes
			based on the estimated basic salary paid by employer and the
			designation of the employee. So tax department will work on this task
			and deduct certain percentage of taxes from the employees account.</p>

		<p>The organization can maintain computerized records without
			redundant entries. That means that one need not be distracted by
			information that is not relevant, while being able to reach the
			information that is relevant much more quickly.</p>

	</section>
</body>
</html>